/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Fonts --*/
@font-face {
  font-family: "ClementePDac-ExtraLight";
  src: url(../fonts/ClementePDac-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "ClementePDai-Regular";
  src: url(../fonts/ClementePDai-Regular.ttf) format("truetype");
}

/*-- Fonts --*/

/*-- Index-Page-Styling --*/

body {
  background-image: url("../images/login/bg_e-tax.jpeg");
  font-family: ClementePDac-ExtraLight;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form {
  margin: 0 auto;
  width: 35%;
  border-radius: 5px;
  position: relative;
  opacity: 0.65;
}

.profile-pic {
  position: absolute;
  top: -20%;
  left: 33.5%;
}

h1 {
  text-align: center;
  color: #faf9f9;
  margin-top: 70px;
  font-family: ClementePDai-Regular;
}

.signin {
  margin-top: 125px;
  padding: 80px 0 20px 0;
  background-color: #3b8590;
  border-radius: 5px;
  text-align: center;
}

input.user {
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-family: ClementePDac-ExtraLight;
  outline: none;
}

input.pass {
  width: 80%;
  background: none;
  border: none;
  border-top: 1px solid white;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-family: ClementePDac-ExtraLight;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: ClementePDac-ExtraLight;
  font-weight: bold;
  text-align: left;
}

a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  background: #165ac1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-family: ClementePDai-Regular;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  background: #099e84;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

.footer p {
  font-family: ClementePDac-ExtraLight;
  /* color: #3b8590; */
  color: #ffff;
}

.footer a {
  font-family: ClementePDac-ExtraLight;
  color: #3b8590;
  text-decoration: none;
}

.footer a:hover {
  color: #c64444;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}